meta(charset="UTF-8")
title Fast, Secure, and Fully Decentralized Trading
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

link(rel="stylesheet" href="css/style.css")

link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
link(rel="manifest" href="img/favicon/site.webmanifest")
link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
meta(name="msapplication-TileColor" content="#da532c")
meta(name="theme-color" content="#fff")

meta(name="description" content="Injective is the first layer-2 decentralized exchange protocol that unlocks the full potential of decentralized derivatives and borderless DeFi")
meta(name="keywords" content="Injective is the first layer-2 decentralized exchange protocol that unlocks the full potential of decentralized derivatives and borderless DeFi")

link(rel="image_src" href="https://www.injectiveprotocol.com/img/og/og.jpg")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.injectiveprotocol.com")
meta(property="og:image" content="https://www.injectiveprotocol.com/img/og/og.jpg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1024")
meta(property="og:image:height" content="512")    
meta(property="og:title" content="Fast, Secure, and Fully Decentralized Trading")
meta(property="og:description" content="Injective is the first layer-2 decentralized exchange protocol that unlocks the full potential of decentralized derivatives and borderless DeFi")
meta(property="og:locale" content="En")
meta(property="og:site_name" content="https://www.injectiveprotocol.com")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="https://www.injectiveprotocol.com")
meta(name="twitter:title" content="Fast, Secure, and Fully Decentralized Trading")
meta(name="twitter:description" content="Injective is the first layer-2 decentralized exchange protocol that unlocks the full potential of decentralized derivatives and borderless DeFi")
meta(name="twitter:creator" content="injectiveprotocol")
meta(name="twitter:image:src" content="https://www.injectiveprotocol.com/img/og/twitter.jpg")
meta(name="twitter:domain" content="https://www.injectiveprotocol.com.")

meta(name="theme-color" content="#1A202C")
meta(name="msapplication-navbutton-color" content="#1A202C")
meta(name="apple-mobile-web-app-status-bar-style" content="#1A202C")