.article{
  border-top: 72px solid #1A202C;
  padding: 40px 0;
  font-size: 16px;
  line-height: 20px;
  &__wrap{max-width: 680px;}
  p{margin: 2.4em 0;}
  h1{
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -.022em;
    margin-bottom: 24px;
  }
  a{
    color: #3182CE;
    &:hover{text-decoration: underline;}
  }
}