.trailblazing{
  margin: 128px 0;
  &__title{
    width: 504px;
    margin: 0 auto 16px;
    text-align: center;
    & > span{
      display: inline-block;
      position: relative;
      z-index: 2;
      &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        left: 0;
        bottom: 6px;
        z-index: -1;
        transform: scaleX(0);
        transition: transform .5s 1s;
        transform-origin: 0 0;
        background: linear-gradient(87.84deg, #195A6C -21.01%, #1E779A 14.87%, #27A7E3 29.03%, #2ABAFF 50.64%, #1DDAF0 64.49%, #0EFFE0 105.65%);
      }
    }
    br{display: none;}
  }
  &__txt{
    width: 504px;
    margin: 0 auto 64px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.014em;
  }
  &.animated{
    .trailblazing__title{
      span{
        &::before{
          transform: scaleX(1);
        }
      }
    }
  }
  @media only screen and (max-width : 767px){
    &__title,
    &__txt{width: 100%;}
    &__title{
      & > span{
        &::before{display: none;}
        & > span{
          display: inline-block;
          position: relative;
          z-index: 2;
          &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 8px;
            left: 0;
            bottom: 6px;
            z-index: -1;
            background: linear-gradient(87.84deg, #195A6C -21.01%, #1E779A 14.87%, #27A7E3 29.03%, #2ABAFF 50.64%, #1DDAF0 64.49%, #0EFFE0 105.65%);
          }
        }
      }
      br{display: block;}
    }
  }
}
.trailblazing-list{
  display: flex;
  align-items: stretch;
  justify-content: space-between;  
  .trailblazing-item{
    width: calc((100% - 48px) / 3);
    transition: transform .25s;
    &:first-child{background-color: #E6FFFA;}
    &:last-child{background-color: #EBF4FF;}
    &:hover{transform: translateY(-16px);}
  }
  @media only screen and (max-width : 767px){
    display: block;
    .trailblazing-item{
      width: 100%;
      max-width: 288px;
      margin: 0 auto 16px;
      &:last-child{margin-bottom: 0;}
      &:hover{transform: none;}
    }
  }
}

.trailblazing-item{
  background-color: #EBF4FF;
  border-radius: 12px;
  position: relative;
  padding: 24px 24px 64px;
  &__icn{margin-bottom: 24px;}
  &__title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.017em;
    color: #1A202C;
  }
  &__txt{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.011em;
    color: #4A5568;
  }
  &__link{
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .05em;
    color: #1A202C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 26px;
    left: 24px;
    svg{
      font-size: 0;
      margin-left: 8px;
      transition: transform .25s, fill .25s;
      fill: #1A202C;
    }
    &:hover{
      color: #4A5568;
      svg{
        transform: translateX(2px);
        fill: #4A5568;
      }
    }
  }
}